<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="card">

                <div class="card-header card-header-rose card-header-text">
                    <div class="card-text">

                        <h4 class="card-title">Branch</h4>
                    </div>
                </div>


                <div class="card-body">

                    <form [formGroup]="branchForm" (ngSubmit)="onSubmit()" #resetBranchForm="ngForm"
                        novalidate>

                        <div class="controlers-wrapper">
                            <!-- Name -->
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Name" formControlName="name">
                                <mat-error *ngIf="handleError('name', 'required')">
                                    You must provide a<strong>Name</strong>
                                </mat-error>
                            </mat-form-field>
                            <!-- Code -->
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Code" formControlName="code">
                                <mat-error *ngIf="handleError('code', 'required')">
                                    You must provide a<strong>Code</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="full-wrapper button-wrapper">
                            <div class="button-wrapper">
                                <button mat-flat-button color="warn">Save</button>
                            </div>
                        </div>

                    </form>


                </div>
            </div>

        </div>
    </div>
</div>