<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="card">

                <div class="card-header card-header-rose card-header-text">
                    <div class="card-text">

                        <h4 class="card-title">Establecimiento</h4>
                    </div>
                </div>

                <div class="card-body">

                    <form [formGroup]="establishmentForm" (ngSubmit)="onSubmit()" #resetEstablishmentForm="ngForm"
                        novalidate>

                        <div class="controlers-wrapper">
                            <!-- Nombre -->
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nombre" formControlName="name">
                                <mat-error *ngIf="handleError('name', 'required')">
                                    Requiere ingresar <strong>Nombre del Establecimiento</strong>
                                </mat-error>
                            </mat-form-field>
                            <!-- Código -->
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Código" formControlName="code">
                                <mat-error *ngIf="handleError('code', 'required')">
                                    Requiere ingresar <strong>Código</strong>
                                </mat-error>
                            </mat-form-field>
                            <!-- Dirección -->
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Dirección" formControlName="address">
                                <mat-error *ngIf="handleError('address', 'required')">
                                    Requiere ingresar <strong>Dirección</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="full-wrapper button-wrapper">
                            <div class="button-wrapper">
                                <button mat-flat-button color="warn">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>