<div class="main-content">
    <div class="container-fluid">
        <div class="row">


           
      <mat-form-field>
        <input matInput placeholder="Filter">
      </mat-form-field>

      <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
      </div>

      <mat-table class="invoice-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="secuence"
        matSortDirection="asc" matSortDisableClear>


        <ng-container matColumnDef="secuence">

          <mat-header-cell *matHeaderCellDef>Numero Factura</mat-header-cell>

          <mat-cell *matCellDef="let element">{{element.secuence}}</mat-cell>

        </ng-container>


        <ng-container matColumnDef="totalWithoutTax">

          <mat-header-cell *matHeaderCellDef>Subtotal</mat-header-cell>

          <mat-cell *matCellDef="let element">{{element.totalWithoutTax | currency}}</mat-cell>

        </ng-container>

        <ng-container matColumnDef="total">

          <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>

          <mat-cell *matCellDef="let element">{{element.total | currency}}</mat-cell>

        </ng-container>

        
        <!-- actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
          
          </th>
          <td mat-cell *matCellDef="let element; let i = index;" class="group-actions text-right">
            <button mat-raised-button class="btn btn-link"
          >Detalle</button>
          </td>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

      </mat-table>
      <mat-paginator class="invoice-paginator" [length]="dataSource.totalRows$ | async" [pageSizeOptions]="[3, 5, 10, 15]"
        showFirstLastButtons>
      </mat-paginator>

        </div>
    </div>
</div>