<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <h4 class="card-title">
              <small class="category"> Completa tu Perfil</small>
            </h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="user.firstName" name="firstName">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Apellido</label>
                    <input type="text" class="form-control" [(ngModel)]="user.lastName" name="lastName">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Correo Electrónico</label>
                    <input type="email" class="form-control" [(ngModel)]="user.email" name="email" disabled>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Teléfono</label>
                    <input type="text" class="form-control" [(ngModel)]="user.phone" name="phone">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Dirección</label>
                    <input type="text" class="form-control" [(ngModel)]="user.address" name="address">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">País</label>
                    <input type="text" class="form-control" [(ngModel)]="user.country" name="country">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Ciudad</label>
                    <input type="text" class="form-control" [(ngModel)]="user.city" name="city">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Código Postal</label>
                    <input type="text" class="form-control" [(ngModel)]="user.postal" name="postal">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Sobre mi</label>
                    <div class="form-group">
                      <textarea class="form-control" [(ngModel)]="user.about" name="about" rows="5"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-rose pull-right" [disabled]="loading">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Actualizar mi Perfil</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <!--div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{user.firstName}}</h4>
            <h6 class="card-category text-gray">{{user.lastName}}</h6>
            <p class="card-description">
              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
              Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#pablo" class="btn btn-rose btn-round">Follow</a>
          </div>
        </div>
      </div-->
    </div>
  </div>
</div>